.profile{
//    background-color: rgb(230, 218, 218);
   background-color: azure;
   width:100%;
   height: 1050px;
   border-radius: 10px;
   

    .top{
       display: flex;
       height: 200px;

        .right{
            flex:5;
            // background-color: aqua;

            .img{
                width: 200px;
                height: 150px;
                object-fit: cover;
                border-radius: 7px;
                border-radius: 30px;
                margin: 10px 10px;
            }

            .rating{
                margin-bottom: 50px;
            }


        }

        .left{
            flex:7;
            // background-color: blue;
            // display: flex;
            flex-direction: column;
            margin: 5px 40px;
            border-left: 1px grey solid;
            background: rgb(109, 102, 102);
            border-radius: 50px;

            .email{
                margin: 5px 5px;
                // font-size: large;
                // font-weight: 400;

                margin-top: 30px;
                padding: 5px 20px;
                // border: 1px solid #000;
                border-radius: 5px;
                // background: rgb(109, 102, 102);
                color: #fff;
                font-size: 16px;
                font-weight: 700;
                // cursor: pointer;
                text-align: center;
                appearance: button;
                display: flex;
                align-items: center;
                justify-content: center;
               
            }
            .tech{
                margin: 5px 5px;
                // font-size: large;
                // font-weight: 400;

                margin-top: 30px;
                padding: 5px 20px;
                // border: 1px solid #000;
                border-radius: 5px;
                // background: rgb(109, 102, 102);
                color: #fff;
                font-size: 16px;
                font-weight: 700;
                // cursor: pointer;
                text-align: center;
                appearance: button;
                display: flex;
                align-items: center;
                justify-content: center;



            }



            .username {
                margin: 5px 5px;
                // font-size: large;
                // font-weight: 400;
                padding: 5px 20px;
                // border: 1px solid #000;
                border-radius: 5px;
                // background: rgb(109, 102, 102);
                color: #fff;
                font-size: 16px;
                font-weight: 700;
                // cursor: pointer;
                text-align: center;
                appearance: button;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: capitalize;

            }
            .contact{
                padding: 10px 10px;
                border: 1px solid #000;
                border-radius: 5px;
                background: #000;
                color: #fff;
                font-size: 16px;
                font-weight: 700;
                cursor: pointer;
                text-align: center;
                appearance: button;
                align-items: center;
                justify-content: center;
                margin : 50px 120px;
            }


        }

    }

    .description{
        background: rgb(109, 102, 102);
        height: 60px;
        margin-top: 40px;
        padding: 10px;
        // flex-direction: column;
        border-radius: 40px;
        margin-top: 100px;
   
      
       

        .desc{
            font-size: large;
            font-weight: 400;
            margin-bottom: 10px;
            justify-content: center;
            text-align: center;
            align-items: center;
            // background: #fff;
            border-radius: 5px;
            margin-top: 20px;
            width: 350px;
            color: #fff;
            
     
            
     
          
           
          
          
        }

    }
    .reviews{
        // flex-direction: column;
        width: 100%;
        // height: 200px;
       

        .review{
            width: 80%;
            background: rgb(131, 127, 127);
            margin-left: 80px;
            margin-top: 10px;
            border-radius: 10px;
            color: #fff;
            height: 100px;

            .top{
                display: flex;
                // height: 45px;

                .img{
                    width:40px;
                    height: 40px;
                    border-radius: 10px;
                }
                
            
                .user{
                    margin: 5px 5px;
                    text-transform: capitalize;
        
                }
                .date{
                    margin: 5px 5px;
                    color:rgb(212, 198, 198)
                }

                .deleteReviewIcon{
                    // margin-left: 250px;
                    margin-right: 0px;
                    margin-top: 3px;
                    width: 40px;
                    height: 15px;
                    cursor: pointer;

                   
                  

                }
            }
        
            .down{
               
        
                .text{
                    // margin-bottom: 100px;
                    margin-left: -380px;
                    margin-top: -150px;
                    font-size: small;
                    // width:480px;
                    margin-top: -150px;
                    
                   
                  
                 
        
                    
                }
               
            }




        }
      
       
    }

    .fieldReview{

        margin-top: 40px;
        // flex-direction: column;

        .item{
            margin-bottom: 10px;

            .title {
                justify-content:space-around ;
                margin-right: 10px;
                // font-size: medium;
                font-size: 20px;
                font-weight: 100;
         
            }
            .reviewBtn{
                padding: 10px 10px;
                // border: 1px solid #000;
                border-radius: 5px;
                background: #000;
                color: #fff;
                font-size: 16px;
                font-weight: 700;
                cursor: pointer;
                text-align: center;
                appearance: button;
                align-items: center;
                justify-content: center;
               
               
            }

            .addreviewIcon{
                width: 100px;
                height: 1rem;
                cursor: pointer;
            }




        }

        .input{

            resize: none;
            width: 450px;
            border-radius: 5px;
            overflow: hidden;
            min-height: 100px;
            max-height: 250px;
        }
       

       


    }
}