.register{

    .heading{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 50px;
        padding: 0 20px;
    
    }
    
    .form {
        width: 70%;
        margin: 0 auto;
    
        .form-group {
            margin-bottom: 10px;
        }
    
        .form-group input{
            width: 100%;
            padding: 10px;
            border: 1px solid #e6e6e6;
            border-radius: 5px;
            margin-bottom: 10px;
            font-family: inherit;
          }
    
    
    
      }
    
    
    
    
    }
    