
.dev{
    width: 100%;
    height: 100%;

    // border : 1px solid rgb(182, 164, 164);
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    // background: linear-gradient(#e6ebee, #e8e8ee);
    // background: linear-gradient(#84aec9, #efeff7);
    border-radius: 10px;
    cursor: pointer;


    &:hover {
        transform: scale(1.1);
        transition: all 0.3s;
      }
    

    // .top{
    //     width: 100%;
    //     margin: 0px 10px ;
    //     display: flex;
    //     // flex-direction: column;
    //     float: right;
      
    //     // margin: 40px 40px;
    //     padding: 10px 10px;
    //     justify-items: center;
    //     align-items: center;
       
    
    //     .right{
    //         display: flex;
    
    
    //         .img{
    //             width: 100px;
    //             height: 100px;
    //             object-fit: cover;
    //             border-radius: 7px;
    //             border-radius: 30px;
    //             margin: 10px 10px;
    //         }
    //     }
    
    //     .left{
    //         display: flex;
    //         flex-direction: column;
    //         // margin: 0px 60px;
    //         margin-top: -70px;
            
          

    //         .username{

    //         }
    //         .email {

    //         }
    //         .tech {
    //             margin-bottom: 30px;
                

    //         }
          
           
    //     }
        
    
    // }

    // .down{
       
    //     // display: inline-block;
    //     // background-color: rgb(198, 209, 219);
    //     // background-color: white;
    //     // background: #f4f4f4;
    //     border-radius: 10px;
    //     margin: 20px 10px;
    //     width: 100%;

    //     .desc{
    //         width: 70%;
    //         text-align: start;
    //         margin-left: -150px;
    //         background-color: white;
    //     }
      

     
    // }


    .top{
        text-align: center;
        width: 100%;
        // background-color:rgb(184, 220, 250);
        // background: linear-gradient(#c0d1db, #efeff7);
        margin-top: 20px;

        .img{
            width: 70px;
            display: inline-block;
            padding: 5px;
            border-radius: 10px;
        }
        .item {
            display: block;
            margin: auto;
            width: 50%;
        }
        // .item span{
        //    background-color: rgb(55, 99, 243);
        //    padding: 4px;
        //    border-radius: 10px;
           
        // }
      
       
    }

    .center {

        .desc {
            padding: 10px;
            text-align: center;
            // font-family: Arial, Helvetica, sans-serif;
            font-family: 'Times New Roman', Times, serif;
            color: rgb(105, 109, 109);

        }
    }

    .down {
        ul {
            display: flex;
            list-style: none;
           
        }
        li {
            margin-right: 70px;
        }

         .cv {
            margin-left: -300px;
        }
    }




}

