.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #c2baba;
    margin-bottom: 60px;
    // background-color: white;
    // width: 120%;
    // margin-right: 150px;
    color: rgb(59, 160, 243);
    

  
  

    .title{
        font-size: 2rem;
        font-weight: 700;

        .version{
            font-size: small;
        }
    }
    .client{
        cursor: pointer;
        font: 100;
    }
    .logout{
        padding: 10px 20px;
        // border: 1px solid #000;
        border-radius: 5px;
        // background: #000;
        color: rgb(54, 49, 49);
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        text-align: center;
        appearance: button;
        display: flex;
        align-items: center;
        justify-content: center;

        .signoutIcon{
            margin-left: 10px;
        }
    }
    .forum{
        padding: 10px 20px;
        // border: 1px solid #000;
        border-radius: 5px;
        // background: #000;
        // color: #fff;
        color: rgb(54, 49, 49);
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        text-align: center;
        appearance: button;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .item {
        list-style: none;
        display: flex;
       

        li{
            margin-left: 20px;

        }

       
    
       
    }
   


}