.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #c2baba;
    margin-bottom: 60px;
    margin-left: -20px;
    // background-color: white;
    // width: 120%;
    // margin-right: 150px;
    color: rgb(59, 160, 243);
    // background-color: rgb(211, 226, 226);
    width: 1150px;
    height: 100px;
    

  
  

    .title{
        font-size: 2rem;
        font-weight: 700;

        .version{
            font-size: small;
        }
    }
    .client{
        cursor: pointer;
        font: 100;
    }
    .logout{
        padding: 10px 20px;
        // border: 1px solid #000;
        border-radius: 5px;
        // background: #000;
        color: rgb(54, 49, 49);
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        text-align: center;
        appearance: button;
        display: flex;
        align-items: center;
        justify-content: center;

        .signoutIcon{
            margin-left: 10px;
        }
    }
    .item{
        padding: 10px 20px;
        // border: 1px solid #000;
        border-radius: 5px;
        // background: #000;
        // color: #fff;
        color: rgb(54, 49, 49);
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        text-align: center;
        appearance: button;
        display: flex;
        align-items: center;
        justify-content: center;


    }
    .item::before{
        content:"";
        position: absolute;
        background-color: rgb(59, 160, 243);
        // border-bottom: 2px solid black;
        width: 0;
        height: 3px;
        // bottom: -10px;
        justify-content: center;
        left: 150;
        transition: 0.5 ease;
   
    }
    .item:hover:before{
        width: 5%;
        margin-top: 20px;
        justify-content: center;
    }


  

    .item {
        list-style: none;
        display: flex;
       

        li{
            margin-left: 20px;

        }

       
    
       
    }

    .sign {
        padding: 10px 20px;
        // border: 1px solid #000;
        border-radius: 5px;
        // background: #000;
        // color: #fff;
        color: rgb(54, 49, 49);
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        text-align: center;
        appearance: button;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   


}